manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: 0c8199ac54a69ba84af39bf2b984a8a5f65a2ca1
      import: app/west.yml
  self:
    path: config