# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_PILLZMOD_PRO_NICENANO

config ZMK_KEYBOARD_NAME
    default "Pillzmod Pro Nice!Nano"

config ZMK_SLEEP
    default y

endif